Repository rapidsai/integration, pull requests merged in 2021-03, with the labels that each got.

#219 Update FAISS to 1.7.0
  conda/recipes/versions.yaml
Labels: 4 - Needs Tests, conda

#229 Update nccl to 2.8.4.1
  conda/recipes/versions.yaml
Labels: 3 - Ready for Review

#230 bump cupy version to >=8.5.0
  conda/recipes/versions.yaml
Labels: 4 - Needs Tests

#232 ENH Add CUDA 11.2 support
  ci/axis/nightly.yaml
  ci/axis/release.yaml
Labels: ! - Release, 2 - In Progress, cuda
