Repository rapidsai/integration, pull requests merged in 2025-09, with the labels that each got.

#795 Build and test with CUDA 13.0.0
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  ci/build_python.sh
  conda/recipes/rapids/recipe.yaml
  conda/recipes/versions.yaml
Labels: non-breaking, improvement

#796 temporarily drop cucim from 'rapids' CUDA 12 package
  conda/recipes/rapids/recipe.yaml
Labels: improvement, breaking

#799 Use branch-25.10 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: non-breaking, improvement

#802 Restore cuCIM on CUDA 12 ARM
  conda/recipes/rapids/recipe.yaml
Labels: bug, non-breaking
